<div class="card bg-warning" style="border:4px solid white;">
  <div class="card-body" style="padding: 8px; margin-top: 8px;">
    <div>
      <!-- title -->
      <input type="text"
             [(ngModel)]="book.title"
             (change)="updateBook()"
             class="input-label-lg"
             maxlength="18" style="width: 80%"
      />
      <a (click)="deleteBook()" class="pull-right text-danger">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <!-- text -->
    <textarea class="input-label"
              style="width: 100%" rows="6"
              [(ngModel)]="book.text"
              (change)="updateBook()"
    ></textarea>
    <div>
      <a href="#" class="btn btn-primary" data-toggle="modal" (click)="openModal(template)">Go to the book</a>
    </div>
    <strong class="text-info" style="font-size: small">{{book.lastModifiedOn | date}}</strong>
  </div>
</div>


<!-- Modal for view a book-->
<ng-template #template>
  <div class="modal-header" >
    <h4 class="modal-title pull-left">{{book.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--  modal_body  -->
    <div>
      <ejs-pdfviewer id="pdfViewer" [serviceUrl]='service' [documentPath]='document' style="width:100%;min-height:600px;display:block"></ejs-pdfviewer>
    </div>
    <!--  modal_body  -->
  </div>
</ng-template>
